<!-- individual product section -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeKing</title>
    <link rel="icon" href="./src/images/watch.png">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Titillium+Web&display=swap" rel="stylesheet">
    <!-- css link -->
    <link rel="stylesheet" href="./src/css/product.css">
    <!-- vue cdn -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- js link for product page -->
    <script src="./src/js/product.js" defer type="module"></script>
</head>
<body>
    <header id="header" class="header">
        <h1>TimeKing</h1>
        <nav id="nav" class="nav">
            <a href="./home.html">Home</a>
            <a href="./contact.html">Contact</a>
            <a href="./sign-in.html">Sign In</a>
            <!-- need to make it so if user is signed in, they have access to this page (-- TO DO --) -->
            <a href="./account.html">Account</a>
        </nav>
    </header>
    <main id="main" class="main">
        <div id="info">
            <div id="product" class="product" v-for="item in selectedProduct">
                    <h2>{{ selectedProduct.name }}</h2>
                    <div class="card" v-for="item in user">
                    <div class="info 1">
                        <img v-bind:src="'./src/images/products/' + selectedProduct.picture">
                        <p>R{{ selectedProduct.price }}-00</p>
                        <form action="./src/php/cart.php" method="post">
                            <textarea hidden name="user-name">{{user.userDisplayName}}</textarea>
                            <textarea hidden name="product-name">{{selectedProduct.name}}</textarea>
                            <textarea hidden name="product-price">{{selectedProduct.price}}</textarea>
                            <input type="submit" name="cart" value="Add to Cart" class="btn"/>
                        </form>
                        <button><a href="./home.html">Back</a></button>
                    </div>
                    <div class="info-2">
                        <h4>Description:</h4><p>{{ selectedProduct.description }}</p>
                        <h4>Rate:</h4><p>{{ selectedProduct.rating }}/10</p>
                        <h4>Qty:</h4><p>{{ selectedProduct.qty }} left</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer" class="footer">
        <h3>© 2022 TimeKing™</h3>
        <div id="info" class="info">
            <a>contact</a>
            <a>social</a>
            <a>T's & C's</a>
            <a href="./about.html">about</a>
            <a href="./sign-in.html">sign in</a>
            <a href="./sign-up.html">sign up</a>
            <a href="./contact.html">Location</a>
            <a href="./home.html">store</a>
            <a>Michael Moore</a>
        </div>
    </footer>
</body>
</html>