<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css link -->
    <link rel="stylesheet" href="./src/css/home.css">
    <!-- vue cdn -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- js link for scrolling function -->
    <script src="./src/js/scroll-function.js" defer></script>
    <!-- js link for axios http requesting -->
    <script src="./src/js/home.js" defer type="module"></script>
</head>
<body>
   <main>
        <form id="sign-in-form" action="/src/php/user-initialization.php" method="post" class="sign-in-form">
            <p>email:</p>
            <input v-model="email" name="email" type="email" class="input" required/>
            <p>password:</p>
            <input v-model="password" name="password" type="text" class="input" required/>
            <p>dont have an account?</p>
            <input name="submit" type="signIn" value="sign in" class="btn" />
        </form>
   </main>
</body>
</html>