<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- css link -->
        <link rel="stylesheet" href="./src/css/sign-up.css">
        <!-- vue cdn -->
        <script src="https://unpkg.com/vue@3"></script>
        <!-- axios cdn -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- js link for axios http requesting -->
        <script src="./src/js/home.js" defer type="module"></script>
    </head>
<body>
    <header id="header" class="header">
        <h1>TimeKing</h1>
    </header>
    <main id="main" class="main">
        <form id="sign-up-form" action="/src/php/sign-up-new-user.php" method="post" class="sign-up-form">
            <p>Name:</p>
            <input type="text" v-model="name" name="name" class="input"/>
            <p>Surname:</p>
            <input type="text" v-model="surname" name="surname" class="input"/>
            <p>Username:</p>
            <input type="text" v-model="displayName" name="displayName" class="input"/>
            <p>Email:</p>
            <input type="email" v-model="email" name="email" class="input"/>
            <p>Password:</p>
            <input type="password" v-model="password" name="password" class="input"/>
            <p class="link-text">Have an account?<a class="link" href="./sign-in.html">Sign In</a></p>
            <input type="submit" value="sign up" name="signUp" class="btn">
        </form>
    </main>
    <footer id="footer" class="footer">
        <p>© 2022 TimeKing™</p>
    </footer>
</body>
</html>