*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to bottom, #202938, #19222d, #141b23, #0e1419, #060a0d);
}

.header{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

.header h1{
    position: relative;
    text-align: center;
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'Titillium Web', sans-serif;
    font-size: 3.5em;
    margin: 1% 0% 0% 2%;
    font-weight: 900;
}

.main{
    position: relative;
    width: 100%;
    margin: 0%;
}
/* featured all upcoming */
.main .featured{
    position: relative;
    width: 100%;
    height: 40%;
    padding: 20% 0% 20% 0%;
}

.main .all{
    position: relative;
    width: 100%;
    height: 40%;
    padding: 20% 0% 20% 0%;
}

.main .all{
    position: relative;
    width: 100%;
    height: 40%;
}