/* color palette = https://coolors.co/202938-7a6340-060a0d-736143-48321a */

/* 
fonts =
    - font-family: 'Edu NSW ACT Foundation', cursive;
    - font-family: 'Titillium Web', sans-serif; 
*/

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/gold-watch-bg-small.jpg);
    background-position-x: 50%;
    background-position-y: 0%;
}

h1 {
	background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'Titillium Web', sans-serif;
    font-size: 4em;
}