*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: #060a0d;
    z-index: 10;
    box-shadow: rgb(23, 23, 32) 0px 5px 5px 3px;
}

.header h1{
    position: relative;
    text-align: center;
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5em;
    margin: 1% 0% 0% 2%;
    font-weight: 900;
}

.nav{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 2%;
}

.nav a{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}

.nav a:hover{
    text-decoration-line: underline;
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav a:active{
    transform: scale(1.5);
}

.main{
    background-image: linear-gradient(to bottom, #202938, #19222d, #141b23, #0e1419, #060a0d);
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0% 0% 0% 0%;
    top: 0%;
    left: 0%;
    padding: 20% 5% 5% 5% ;
}

.main .product{
    position: fixed;
    top: 20%;
    width: 100%;
    left: 0%;
    text-align: center;
    padding: 3% 3% 3% 3%;
    color: rgb(128, 128, 128);
    font-family: 'Titillium Web', sans-serif;
}

.main .product button{
    margin-bottom: 100%;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 1%;
}

.footer h3{
    text-align: center;
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'Titillium Web', sans-serif;
}

.footer .info{
    position: relative;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}

.footer .info a{
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 1% 0% 1% 0%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.8em;
}

.footer .info a:active{
    text-decoration-line: underline;
    background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 1em;
}

/* ---> MEDIA QUERIES <--- */

@media(min-width: 490px) {
    
    .header h1{
        margin: 0%;
        font-size: 3.2em;
    }

    .nav{
        padding-bottom: 1%;
    }
    
    .nav a{
        font-size: 1.3em;
    }
    
    .main{
        position: relative;
        width: 100%;
        padding: 14% 12% 5% 12%;
    }

    .footer h3{
        font-size: 2em;
    }
    
    .footer .info a{
        margin: 2% 0% 2% 0%;
        font-size: 1.2em;
    }
    
    .footer .info a:active{
        font-size: 1.5em;
    }
}

@media(min-width: 1000px) {
    
    .header h1{
        font-size: 2em;
    }

    .nav{
        padding-bottom: 1%;
    }
    
    .nav a{
        font-size: 1.1em;
    }
    
    .nav a:active{
        transform: scale(1.5);
    }

    .main{
        position: relative;
        width: 100%;
        padding: 7% 15% 3% 15%;
    }

    .footer h3{
        font-size: 1.7em;
    }
    
    .footer .info a{
        margin: 1% 0% 1% 0%;
        font-size: 1em;
    }
    
    .footer .info a:active{
        font-size: 1.2em;
    }
}